    
<div>
  <section class="py-5 text-center ">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Tous les articles </h1>
        <p class="lead text-muted"> N'hesitez pas à reserver l'article si il est encore disponible ou bien mettre un petit coeur afin d'être informer si il est de nouveau disponible.</p>
        <p>
          <a href="#" class="btn btn-primary m-2">Send us a message</a>
          <a href="#" class="btn btn-secondary">Keep an eye on it </a>
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary m-2 float-end" (click)="resetForm()">Nouveau
            article</a>
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        <button class="col btn btn-light" *ngFor="let item of items; let i = index">
          <div class="card shadow-sm">
            
            <img class="bd-placeholder-img card-img-top" width="100%" height="325" [src]=" item.photo" >
            <div class="card-body">
              <p class="card-text h5">{{item.type }} --  {{ item.etat}} </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group ">
                  
                  <button type="button" class="btn btn-sm btn-success">Reserver</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Wanna too</button>
                </div>
                <button type="button" class="btn btn-sm"> 5 <i class="fa fa-heart"></i></button>
              </div>
              <div class="d-flex justify-content-between align-items-center mt-2">
                
                <small class="text-muted h6">par : {{ item.userID}}</small>
              </div>
            </div>
          </div>
        </button>

        <!-- <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>


  <!-- partie ajout item  -->
  <!-- <div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 ">
      <h2>Enregistrer un nouveau </h2>
      <p> {{itemForm }}</p>
      <form [formGroup]="itemForm" (ngSubmit)="onSave()">
        <div class="mb-3">
            <label for="userID" class="form-label">Type vetement</label>
            <div class="row">
                <div class="col-12">
                    <input type="text" formControlName="userID" id="userID" class="form-control">
                </div>
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" formControlName="bleeding" class="form-check-input" id="bleeding">
            <label class="form-check-label" for="bleeding">Yes, Bleeding</label>
          </div>
        <div class="mb-3">
          <label for="type" class="form-label">Couleur</label>
          
            <select class="form-select" type="text" id="type" name="type" formControlName="type" aria-describedby="typeHelp">
              <option value="" selected>Sélectionner </option>
              <option value="CHEMISE">Chemise</option>
              <option value="PANTALON">Pantalon</option>
              <option value="PANTALON">Manteau</option>
            </select>
            <div id="typeHelp" class="form-text">
              Selectionnez le type de l'article : chemise, pantalon, manteau
          </div>
        </div>
        <div class="mb-3">
          <label for="etat" class="form-label">Intensité</label>
            <select class="form-select" type="text" id="etat" name="etat" formControlName="etat" aria-describedby="etatHelp">
                <option value="" selected>Sélectionner </option>
                <option value="ACCEPTABLE">Acceptable</option>
                <option value="BIEN">Bien</option>
                <option value="TRES_BIEN">Très bien </option>
                <option value="NEUF">neuf</option>
            </select>
            <div id="etatHelp" class="form-text">
                Selectionnez l'état de l'article 
            </div>
        </div>
        <div class="mb-3">
          <label for="photo" class="form-label">Photo  </label>
          <input id="photo"
                    class="form-control" formControlName="photo" />
          
        </div>
        
        
        <button class="btn btn-success" [disabled]="itemForm.invalid"
                type="submit">Enregistrer
        </button>
  
      </form>
    </div>
  </div> -->


  <!-- partie ajout / edit avec model  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form [formGroup]="itemForm" (ngSubmit)="onSave()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un article</h5>
                    <!-- <h5 class="modal-title" id="exampleModalLabel" *ngIf="h.id != undefined">Editer un hotel</h5> -->
                    <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="userID" class="form-label">Type vetement</label>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" formControlName="userID" id="userID" class="form-control">
                        </div>
                    </div>
                  </div>
                  <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" formControlName="sexe" id="Femme" value="Femme" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Femme">Femme</label>
                  
                    <input type="radio" class="btn-check" formControlName="sexe" id="Homme" value="Homme" autocomplete="off">
                    <label class="btn btn-outline-primary" for="Homme">Homme</label>
                  </div>
                  <div class="mb-3">
                    <label for="type" class="form-label">Type</label>
                    
                      <select class="form-select" type="text" id="type" name="type" formControlName="type" aria-describedby="typeHelp">
                        <option value="" selected>Sélectionner </option>
                        <option value="CHEMISE">Chemise</option>
                        <option value="PANTALON">Pantalon</option>
                        <option value="MANTEAU">Manteau</option>
                      </select>
                      <div id="typeHelp" class="form-text">
                        Selectionnez le type de l'article : chemise, pantalon, manteau
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="etat" class="form-label">Etat</label>
                      <select class="form-select" type="text" id="etat" name="etat" formControlName="etat" aria-describedby="etatHelp">
                          <option value="" selected>Sélectionner </option>
                          <option value="ACCEPTABLE">Acceptable</option>
                          <option value="BIEN">Bien</option>
                          <option value="TRES_BIEN">Très bien </option>
                          <option value="NEUF">neuf</option>
                      </select>
                      <div id="etatHelp" class="form-text">
                          Selectionnez l'état de l'article 
                      </div>
                  </div>
                  <div class="mb-3">
                    <label for="photo" class="form-label">Photo  </label>
                    <input id="photo"
                              class="form-control" formControlName="photo" />
                    
                  </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="reset" class="btn btn-danger float-end">Annuler</button>
                    <!-- <button type="submit" class="btn btn-secondary" id="submitbtn">Valider</button> -->
                    <button class="btn btn-success" id="submitbtn" [disabled]="itemForm.invalid"
                      type="submit">Enregistrer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

</div>
  
  
  
